[workspace]
members = [
    "auth-api",
    "auth-service",
    "bot",
    "bot-service",
    "chat-service",
    "client",
    "core",
    "event-hub-service",
    "gateway-service",
    "history-service",
    "jwt-common",
    "net",
    "presence-service",
    "proto",
    "server",
    "storage",
]

exclude = [
    "unhidra-snapshot-gui",
    "unhidra-snapshots",
    "unhidra-vcs-gui",
    "startup-check",
]

resolver = "3"
